* {
  box-sizing: border-box;
  margin: 50;
  padding: 10;
  font-family: Arial, sans-serif;
}

body {
  background: #434446;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game-card {
  background: rgb(255, 255, 255);
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 20px 24px rgba(0, 0, 0, 0.12);
  text-align: center;
  width: 100%;
  max-width: 450px;
}

h1 {
  font-size: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.subtitle {
  color: #494747;
  font-size: 15px;
  margin-bottom: 20px;
}

.chances-box {
  background: #88cfdb;
  border: 2px solid #242424;
  padding: 8px 18px;
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

#chances {
  color: #000000;
  font-size: 20px;
}

.input-container {
  display: flexbox;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

input {
  width: 120px;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  outline: none;
}

input:focus {
  border-color: #007bff;
}

button {
  background-color: #00c3ff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ffbe0a;
}

.restart-btn {
  background-color: #28a745;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.restart-btn:hover {
  background-color: #218838;
}